.footer h2{
  text-decoration: none;
  color: white;
  font-style: oblique;
  text-align: left;
  margin-left: 6vw;
  font-size: 1.5vw;
}
.footer {
  background-color:black;
  width: 100%;
  height: 5vw;
  position: fixed;
  overflow: hidden;
  bottom: 0;
   flex-wrap: wrap; 
  }
  
  .movies {
    flex-wrap: wrap;
    width: 100%;
    height: 5vw;
    position: fixed;
    font-display: inherit;
    bottom: 0;
    margin-left: 20vw;
    text-decoration: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: #bc6ff1;
    font-weight: bold;
  }
  .space
  {
    word-spacing: 30px;
  }